@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */
body {
    font-family: Roboto, sans-serif;
    color: #eeeeee;
    background: radial-gradient(circle, #141414 0%, #191919 100%);
}

/* Custom ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(168, 194, 201);
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0f4758;
}

/* Custom CSS */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-snap-type {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}

.scrollbar-snap-align {
    scroll-snap-align: start;
}
